@use "../../../src/styles/colors.scss";

.social_medias_container {
    position: sticky;
    left: 0;
    top: 45%;
    width: 50px;
    z-index: 100;
}

.social_media_btn_container {
    margin-bottom: 20px;
    margin-left: 10px;
}

@media only screen and (max-width: 844px) {
    .social_medias_container {
        position: relative;
        left: 0;
        top: -20%;
    }
}

@media only screen and (max-width: 820px) {
    .social_medias_container {
        position: relative;
        left: 0;
        top: 0%;
    }
}

@media only screen and (max-width: 390px) {
    .social_medias_container {
        position: relative;
        left: 30%;
        top: -12%;
        display: flex;
    }

    .social_media_btn_container {
        margin-right: 20px;
    }
}
