@use "../../../src/styles/colors.scss";

@font-face {
    font-family: "Japanese3017";
    src: local("Japanese3017"),
        url("../../../src/fonts/Japanese3017.ttf") format("truetype");
}

.logo_container {
    position: relative;
    top: -25%;
    left: -3%;
    font-family: "Japanese3017";
    //color: colors.$text_color_primary;
    color: #000000;
    z-index: 99;
    text-align: center;
}

.logo_img {
    animation: rotation 15s infinite linear;
}

.logo_text {
    font-size: calc(10px + 2rem);
}

@media only screen and (max-width: 844px) {
    .logo_container {
        position: relative;
        left: 35%;
        top: -90%;
    }

    .logo_img {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 820px) {
    .logo_container {
        position: relative;
        left: 0%;
        top: -30%;
    }
}

@media only screen and (max-width: 390px) {
    .logo_container {
        top: -10%;
        left: 3%;
    }

    .logo_img {
        width: 200px;
        height: 200px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
